fastapi
uvicorn
sqlalchemy
pymysql
python-dotenv
pandas
cryptography
langchain
langchain-community
langchain-huggingface
langchain-pinecone
pinecone-client
sentence-transformers
huggingface_hub
jinja2
python-multipart
pyzbar
Pillow
streamlit